/* table,
th,
td {
  table-layout: auto;
  margin: 0px 2px;
  border: none;
  width: 100%;
  column-width: auto;
  border-collapse: collapse;
}

td {
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
}

th {
  height: 40px;
  border: none;
  text-align: center;
  letter-spacing: 2px;
}

tr:hover {
  background-color: #e5e5e5;
  transition: background-color 0.5s;
}

.user {
  width: 20px;
} */

table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-top: 50px;
}

th {
  text-align: center;
  width: 50%;
}

td {
  text-align: center;
  width: 50%;
  padding: 3px;
}
